.checkIn {
    position: absolute;
    background-color: var(--panelBackground-color);
    border: 3px solid  var(--panelBorder-color);
    padding: 50px;
    padding-bottom: 19px;
    margin-left: 600px;
    padding-top: 46px;
}

.checkInButtons {
    display: block;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--panelButtonBackground-color);
}

#billButton {
    background-color: green;
}

#cancelButton {
    background-color: brown;
}

